.breadcrumb {
    background-color: transparent;
}
.product-price {
    font-size: 24px;
    font-weight: 400;
    color: #fbb710;
    line-height: 1;
    margin-bottom: 10px;
}
.line {
    width: 80px;
    height: 3px;
    background-color: #fbb710;
    margin-bottom: 15px;
    display: block;
}

::ng-deep .mat-icon{
    width: 15px;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.qty{
    margin-bottom: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    background-color: #f5f7fa;
}
.quantity {
    position: relative;
    z-index: 1;
}
.qty-minus {
    position: absolute;
    top: 10px;
    right: 0;
    line-height: 1;
    width: 30px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    color: #959595;
}
.quantity input {
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 100px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #959595;
}
.qty-plus {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    width: 30px;
    text-align: center;
    height: 20px;
    cursor: pointer;
    color: #959595;
}
.add-cart-btn {
    width: 160px;
    min-width: 160px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    background-color: #fbb710;
    font-weight: 600;
}