section{
    position: relative;
    width: 100%;
    height: 25vh;
    background: black;
    overflow: hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/assets/bg-img/wave.png');
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4{
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
    
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
    
}

.footer-box{
    margin: 0;
    padding: 40px 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 100px;
    
}

.menu{
    margin-top: 40px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-items {
        line-height: 3;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
}
